<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{customer/layout/index}">

<head>
    <meta charset="UTF-8">
    <title>NOVA SHOES</title>
    <link rel="shortcut icon" th:href="@{/static/customer/img/NOVA.png}" type="image/x-icon">
    <script th:src="@{/static/customer/view/shop-details.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
    <!-- CSS của jQuery UI (nếu cần) -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <script src="https://kit.fontawesome.com/999051c9de.js" crossorigin="anonymous"></script>

    <!--    Zoom ảnh-->
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Lightbox CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css"
          integrity="sha512-5U1+mcXtVdRmm9Zdr3dAc5oVf9vde7C5UtYoebR/zmfDGrGxv/X7Y/OlKBpjTs8i6pRg/ztIOXE9qH7CvJOGdQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <!-- Lightbox JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"
            integrity="sha512-QX1S5Rw4Q6ysMnh4sTwchZe6nDS6M3a1lvbuHdX+yA66JTIxIEqgPKs4sg9aA0dE7GvLv2Kgp5tf6cnvHGKNdQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
    <style>
        #sizeGuideModal .modal-body img {
            width: 100% !important;
            height: 120px !important;
        }

        .lightbox-close-right {
            position: absolute;
            top: 10px; /* Điều chỉnh vị trí theo yếu tố thiết kế của bạn */
            right: 10px; /* Điều chỉnh vị trí theo yếu tố thiết kế của bạn */
            font-size: 24px;
            cursor: pointer;
            color: #fff; /* Màu sắc của nút đóng */
        }

        #sizeGuideModal .modal-content {
            max-width: 130px;
            margin: auto;
        }

        .modal-content {
            width: 400px;
            height: 200px;
        }

        label.msActive:after {
            border: 1px solid black;
        }
        .out-of-stock {
            /* Thêm kiểu dáng tùy chọn, ví dụ: màu đỏ và chữ nhỏ */
            color: red;
            font-size: 14px;
            /* Bạn có thể thêm các kiểu dáng khác tùy thuộc vào thiết kế của bạn */
        }
    </style>
    <script th:src="@{/static/admin/js/banHang/MuaNgay/MuaNgayJS.js}"></script>
</head>

<body>

<div class="shop-details" layout:fragment="content">
    <div id="flexUrlTableFormShopDetails" th:object="${shopDetails}">
        <input type="hidden" th:field="*{sanPhamId}">
        <div class="page-content-wraper">
            <!-- Bread Crumb -->
            <section class="breadcrumb">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <nav class="breadcrumb-link">
                                <a th:href="@{/khach-hang/san-pham}">Danh Sách Sản Phẩm</a>
                                <span>Chi tiết sản phẩm</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Bread Crumb -->

            <!-- Page Content -->
            <section id="product-ID_XXXX" class="content-page single-product-content">

                <!-- Product -->
                <div id="product-detail" class="container">
                    <div class="row">
                        <div class="col-lg-9 col-md-12 product-content sidebar-position-right">
                            <div class="row">
                                <!-- Product Image -->
                                <div class="col-lg-6 col-md-12 col-sm-12 mb-30">
                                    <div class="product-page-image">
                                        <!-- Slick Image Slider -->
                                        <div class="product-image-slider product-image-gallery"
                                             id="product-image-gallery" data-pswp-uid="3">
                                            <div class="item" th:each="img, istat : ${shopDetails.anhChinhs1}"
                                                 th:id="'nav-item-s1-'+${istat.index}">
                                                <a class="product-gallery-item" th:href="${'/khach-hang/images/'+img}"
                                                   data-size="" th:data-med="${'/khach-hang/images/'+img}"
                                                   data-med-size=""
                                                   th:tab-id="'tabs-s1-'+${istat.index}"
                                                   th:id="'imgActiveS1'+${istat.index}"
                                                   th:classappend="${istat.index == 0? 'active':''}"
                                                   th:nav-id="'nav-item-s1-'+${istat.index}"
                                                   onmouseover="changeTab(this.getAttribute('tab-id'),this.getAttribute('nav-id'))"
                                                >
                                                    <img th:src="${'/khach-hang/images/'+img}" alt="">
                                                </a>
                                            </div>
                                        </div>
                                        <!-- End Slick Image Slider -->

                                        <a href="javascript:void(0)" id="zoom-images-button" class="zoom-images-button"><i
                                                class="fa fa-expand" aria-hidden="true"></i></a>


                                    </div>

                                    <!-- Slick Thumb Slider -->
                                    <div class="product-image-slider-thumbnails">
                                        <div class="item" th:id="'tabs-s1-'+${istat.index}"
                                             th:classappend="${istat.index == 0? 'active':''}"
                                             th:each="img, istat : ${shopDetails.anhChinhs1}"
                                        >
                                            <img th:src="${'/khach-hang/images/'+img}" alt="image 1"/>
                                        </div>

                                    </div>

                                    <br>
                                    <br>
                                    <!--                                    <div class="modal-content" id="sizeGuideModal">-->
                                    <!--                                        <div class="modal-header">-->
                                    <!--                                            <h5 class="modal-title"><i class="fas fa-info-circle"></i> Bảng chọn size-->
                                    <!--                                                tham khảo</h5>-->
                                    <!--                                            <span class="lightbox-close" onclick="toggleSizeGuide()"></span>-->
                                    <!--                                        </div>-->
                                    <!--                                        <div class="modal-body">-->
                                    <!--                                            &lt;!&ndash; Nội dung hướng dẫn chọn size &ndash;&gt;-->
                                    <!--                                            <a th:href="@{/static/customer/img/bangSize/bangSize2.jpg}"-->
                                    <!--                                               data-lightbox="size-guide" title="Hướng dẫn chọn size">-->
                                    <!--                                                <img th:src="@{/static/customer/img/bangSize/bangSize2.jpg}"-->
                                    <!--                                                     title="Hướng dẫn chọn size">-->
                                    <!--                                            </a>-->
                                    <!--                                            &lt;!&ndash; Thêm thẻ div cho nút đóng bên phải ảnh &ndash;&gt;-->
                                    <!--                                            &lt;!&ndash;                                            <div class="lightbox-close-right" onclick="toggleSizeGuide()">&times;</div>&ndash;&gt;-->
                                    <!--                                        </div>-->
                                    <!--                                    </div>-->
                                    <!-- End Slick Thumb Slider -->
                                </div>
                                <!-- End Product Image -->

                                <!-- Product Content -->
                                <div class="col-lg-6 col-md-12 col-sm-12 mb-30">
                                    <div class="product-page-content">
                                        <h2 class="product-title" th:text="${shopDetails.tenSanPham}"></h2>


                                        <div class="product-price">

                                            <span><span class="product-price-sign"></span>
                                  <span class="product-price-text"
                                        th:text="${#numbers.formatDecimal(shopDetails.gia, 0, 'COMMA', 0, 'POINT')} + ' VNĐ'"
                                        th:id="'giaBanHienCoCus' + ${shopDetails.sanPhamId}"></span></span>
                                        </div>
                                    </div>
                                    <div class="row product-filters product__details__option">
                                        <form class="col-md-12 filters-color product__details__option__color">
                                            <label for="select-color">Màu Sắc</label>
                                            <div class="color-selector ">
                                                <a id="qqq" class="entry chonMauSaca"
                                                   th:each="mauSac: ${mauSacList} "
                                                   th:style="'background:'+ ${mauSac}" th:attr="data-id=${mauSac}">
                                                </a>
                                                <input type="hidden" id="mauSacDaChon">
                                            </div>
                                        </form>
                                        <form class="col-md-12 filters-size product__details__option__size">
                                            <label for="select-size">Kích cỡ</label>
                                            <div class="size-selector">
                                                <a class="entry chonKichCoa" type="radio"
                                                   th:each="kichCo: ${kichCoList}" th:text="${kichCo}"
                                                   th:attr="data-id=${kichCo}">
                                                </a>
                                                <input type="hidden" id="kichCoDaChon-customer">
                                            </div>
                                        </form>
                                        <input type="hidden" id="id_san_pham" th:data-id="${shopDetails.sanPhamId}">

                                    </div>

                                    <!--                                        <div class="mt-2"><span class="fw-bold">Màu sắc</span>-->
                                    <!--                                            <div class="colors">-->
                                    <!--                                                <ul id="marker" th:each="mauSac: ${mauSacList}">-->
                                    <!--                                                    <button class="chonMauSaca"-->
                                    <!--                                                            th:style="'background:'+ ${mauSac}" th:attr="data-id=${mauSac}"></button>-->
                                    <!--                                                    <input type="hidden" id="mauSacDaChon">-->
                                    <!--                                                </ul>-->
                                    <!--                                            </div>-->
                                    <!--                                        </div>-->

                                    <!--                                        <div class="mt-3"><span class="fw-bold">Kích cỡ</span>-->
                                    <!--                                            <div class="colors" id="div-kichCoCustomer">-->
                                    <!--                                                <ul id="marker" >-->
                                    <!--                                                    <button  th:each="kichCo: ${kichCoList}" th:text="${kichCo}"  th:attr="data-id=${kichCo}" class="chonKichCoa"></button>-->
                                    <!--                                                    <input type="hidden" id="kichCoDaChon-customer">-->
                                    <!--                                                </ul>-->
                                    <!--                                            </div>-->
                                    <!--                                        </div>-->
                                    <!--                                        <input type="hidden" id="id_san_pham" th:data-id="${shopDetails.sanPhamId}">-->

                                    <p>Số lượng hiện có: <span class="soLuongHienCoCus"
                                                               th:id="'soLuongHienCoCus' + ${shopDetails.sanPhamId}"></span>
                                    </p>
                                    <form class="single-variation-wrap product__details__cart__option">
                                        <div class="product-quantity">
                                            <span data-value="+" class="quantity-btn quantityPlus"></span>
                                            <input class="quantity input-lg daucatmoi" step="1" min="1"

                                                   th:field="*{soLuong}"/>
                                            <span data-value="-" class="quantity-btn quantityMinus"></span>
                                        </div>
                                        <a id="muaNgaySanPham" th:data-id="${shopDetails.sanPhamId}"
                                           class="btn btn-lg btn-black out-of-stock">
                                            <i class="fa fa-shopping-bag" ></i>Mua Ngay
                                            <input type="hidden" id="auth" th:value="${#authentication.name}">
                                            <a/>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>

                    <section id="promo" class="section-padding-sm promo ">
                        <div class="container">
                            <div class="promo-box row">
                                <div class="col-md-4 mtb-sm-30 promo-item">
                                    <div class="icon"><i class="fa fa-truck-fast" aria-hidden="true"></i></div>
                                    <div class="info">
                                        <a href="/khach-hang/home">
                                            <h6 class="normal">GIAO HÀNG TOÀN QUỐC</h6>
                                        </a>
                                        <p>Hỗ trợ giao hàng trên 63 tỉnh thành.</p>
                                    </div>
                                </div>
                                <div class="col-md-4 mtb-sm-30 promo-item">
                                    <div class="icon"><i class="fa-regular fa-credit-card"
                                                         aria-hidden="true"></i></div>
                                    <div class="info">
                                        <a href="/khach-hang/home">
                                            <h6 class="normal">THANH TOÁN BẢO MẬT</h6>
                                        </a>
                                        <p>Tất cả các thanh toán đều được bảo mật.</p>
                                    </div>
                                </div>
                                <div class="col-md-4 mtb-sm-30 promo-item">
                                    <div class="icon"><i class="fa fa-headphones" aria-hidden="true"></i></div>
                                    <div class="info">
                                        <a href="/khach-hang/home">
                                            <h6 class="normal">HỖ TRỢ TRỰC TUYẾN</h6>
                                        </a>
                                        <p>Chúng tôi hỗ trợ 24/7.</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </section>
                </div>
        </div>
    </div>

    <!-- End Product -->

    <!-- Product Content Tab -->
    <div class="product-tabs-wrapper container">
        <ul class="product-content-tabs nav nav-tabs" role="tablist">

            <li class="nav-item">
                <a class="active" href="#tab_description" role="tab" data-toggle="tab">Mô tả sản phẩm</a>
            </li>
            <li class="nav-item">
                <a class="" href="#tab_additional_information" role="tab" data-toggle="tab">Thông tin sản
                    phẩm</a>
            </li>
            <li class="nav-item">
                <a class="" href="#tab_custom" role="tab" data-toggle="tab">Bảng chọn kích cỡ</a>
            </li>

        </ul>
        <div class="product-content-Tabs_wraper tab-content container">
            <div id="tab_description" role="tabpanel" class="tab-pane fade in active">
                <!-- Accordian Title -->
                <h6 class="product-collapse-title" data-toggle="collapse"
                    data-target="#tab_description-coll">Mô tả sản phẩm</h6>
                <!-- End Accordian Title -->
                <!-- Accordian Content -->
                <div id="tab_description-coll" class="shop_description product-collapse collapse container">
                    <div class="row">
                        <div class="col-md-12">
                            <p th:text="${shopDetails.moTa}">
                        </div>
                    </div>
                </div>
                <!-- End Accordian Content -->
            </div>

            <div id="tab_additional_information" role="tabpanel" class="tab-pane fade">
                <!-- Accordian Title -->
                <h6 class="product-collapse-title" data-toggle="collapse"
                    data-target="#tab_additional_information-coll">Thông tin sản phẩm</h6>
                <!-- End Accordian Title -->
                <!-- Accordian Content -->
                <div id="tab_additional_information-coll" class="container product-collapse collapse">

                    <table class="shop_attributes">
                        <tbody>
                        <!--                            <tr>-->
                        <!--                                <th>Màu Sắc</th>-->
                        <!--                                <td><a class="entry" th:each="mauSac1: ${tenMauSacList} "-->
                        <!--                                       th:text="${mauSac1}"></a></td>-->
                        <!--                            </tr>-->
                        <tr>
                            <th>Màu Sắc</th>
                            <td>
                                <span th:each="mauSac1, iterStat : ${tenMauSacList}">
                               <span th:text="${mauSac1}"></span>
                               <span th:if="${!iterStat.last}">, </span>
                               </span>
                            </td>
                        </tr>

                        <tr>
                            <th>Kích Cỡ</th>
                            <td>
                                <span th:each="kichCo, iterStat : ${kichCoList}">
                                    <span th:text="${kichCo}"></span>
                                    <span th:if="${!iterStat.last}">, </span>
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <!-- End Accordian Content -->
            </div>
            <div id="tab_custom" role="tabpanel" class="tab-pane fade">
                <!-- Accordian Title -->
                <h6 class="product-collapse-title" data-toggle="collapse" data-target="#tab_custom-coll">
                    Bảng chọn kích cỡ</h6>
                <!-- End Accordian Title -->
                <!-- Accordian Content -->
                <div class="container">
                    <div id="tab_custom-coll" class="product-collapse collapse container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="modal-content" id="sizeGuideModal">
                                    <div class="modal-header" style="text-align: center">
                                        <h5 class="modal-title"><i class="fas fa-info-circle"></i> Bảng chọn
                                            kích cỡ
                                            tham khảo</h5>
                                        <span class="lightbox-close" onclick="toggleSizeGuide()"></span>
                                    </div>
                                    <div class="modal-body">
                                        <!-- Nội dung hướng dẫn chọn size -->
                                        <a th:href="@{/static/customer/img/bangSize/bangSize2.jpg}"
                                           data-lightbox="size-guide" title="Hướng dẫn chọn size">
                                            <img th:src="@{/static/customer/img/bangSize/bangSize2.jpg}"
                                                 title="Hướng dẫn chọn size">
                                        </a>
                                        <!-- Thêm thẻ div cho nút đóng bên phải ảnh -->
                                        <!-- <div class="lightbox-close-right" onclick="toggleSizeGuide()">&times;</div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Accordian Content -->
            </div>
        </div>
    </div>
    <!-- End Product Content Tab -->

</div>
</div>
</div>

<script>
    // Thêm sự kiện click cho link mở modal
    // document.getElementById('openModalLink').addEventListener('click', function() {
    //     // Lấy modal
    //     var modal = new bootstrap.Modal(document.getElementById('sizeGuideModal'));
    //
    //     // Hiển thị modal
    //     modal.show();
    // });
    //zoom ảnh
    function toggleSizeGuide() {
        const modal = document.getElementById('sizeGuideModal');
        modal.style.display = (modal.style.display === 'none' || modal.style.display === '') ? 'block' : 'none';
    }

    //zoom ảnh
    let lightbox;
    lightbox.option({
        'resizeDuration': 200,
        'wrapAround': true
    });

</script>
</body>

</html>