<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/dashboard}">
<head>
    <script type="text/javascript" th:src="@{/static/admin/js/lotGiay/lotGiay.js}"></script>
</head>

<body>
<section layout:fragment="content" class="container-fluid">
    <div id="toastsCustomCss">

    </div>


    <!-- Begin Page Content -->
    <div>
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Quản lý lót giày</h1>
        <h5 th:text="${messageSuccess}" data-delay="3000"></h5>
        <h5 th:text="${messageDanger}" data-delay="3000"></h5>
        <!--        <h3>haha</h3>-->

        <hr>
        <form th:action="@{/admin/lot-giay}" id="flexUrlTableFormLotGiay" enctype="multipart/form-data" method="get">
            <input type="number" name="page" id="inputPageLotGiay" hidden>
            <div class="card shadow mb-1 pt-sm-2 pb-sm-3">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="mb-3 row">
                            <label for="TenLotGiay">Tên lót giày:</label>
                            <br>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="TenLotGiay"
                                       placeholder="Tên lót giày" name="tenLotGiaySearch">
                            </div>
                        </div>
                        <div class="col-sm-2 offset-10 mt-2">
                            <div class="float-right">
                                <a class="btn btn-primary "
                                   onclick="flexUrlSubmit('', 'get', 'LotGiay')">Tìm kiếm <i class="bi bi-search"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- DataTales Example -->
            <div class="card shadow mb-4 mt-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold">
                        <div class="btn-group-sm">
                            <div class="float-right">
                                <a type="submit" class="btn btn-primary" onclick="openPopupCreateOrUpdate('create')">Thêm mới <i class="bi bi-bookmark-plus"></i></a>
                            </div>
                        </div>
                    </h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                            <thead class="text-nowrap text-center">
                            <tr>
                                <th>#</th>
                                <th>Tên lót giày</th>
                                <th>Thao tác</th>
                            </tr>
                            <tr th:if="${!resultPage.hasContent()}">
                                <td colspan="11">
                                    <h4><i>Không có lót giày nào phù hợp</i></h4>
                                </td>
                            </tr>
                            </thead>
                            <tbody class="text-center">
                            <tr th:each="item, istat : ${lotGiays}">
                                <td style="vertical-align: middle;"
                                    th:text="${resultPage.number * resultPage.size + istat.index + 1}"></td>
                                <td style="vertical-align: middle;" th:text="${item.TenLotGiay}"
                                    id="tenLotGiayStr"></td>
                                </td>
                                <td style="vertical-align: middle;">
                                    <div class="btn-group">
                                        <a class="btn btn-outline-info btn-sm" id="info" data-toggle="popover"
                                           data-trigger="hover" data-placement="top"
                                           data-content="Chi tiết lót giày"
                                           th:href="@{'/admin/lot-giay/info/' + ${item.IdLotGiay}}">
                                            <img th:src="@{/static/admin/img/icons/info.svg}"></a>

                                        <a class="btn btn-outline-primary btn-sm" data-toggle="popover"
                                           data-trigger="hover" data-placement="top"
                                           data-content="Cập nhật lót giày" th:cl-id="${item.IdLotGiay}"
                                           th:cl-name="${item.TenLotGiay}"
                                           onclick="openPopupCreateOrUpdate('update',this.getAttribute('cl-id'),this.getAttribute('cl-name'))"><img
                                                th:src="@{/static/admin/img/icons/edit.svg}"></a>

                                        <a class="btn btn-outline-danger btn-sm" th:data-id="${item.IdLotGiay}"
                                           data-toggle="popover" data-trigger="hover" data-placement="top"
                                           data-content="Xóa lót giày" th:data-name="${item.TenLotGiay}"
                                           page-name="LotGiay"
                                           onclick="showConfirmModalDeleteDialog(this.getAttribute('data-id'), this.getAttribute('data-name'), this.getAttribute('page-name'))"><img
                                                th:src="@{/static/admin/img/icons/trash.svg}"></a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>


                    <div class="card-footer text-muted">
                        <div class="input-group mt-2 mb-3">
                            <label class="input-group-text bg-white" for="inputGroupSelect01">Kích thước trang:</label>
                            <select class="form-select" name="size" id="size" onchange="this.form.submit()">
                                <option th:selected="${resultPage.size == 10}" value="10">10</option>
                                <option th:selected="${resultPage.size == 30}" value="30">30</option>
                                <option th:selected="${resultPage.size == 50}" value="50">50</option>
                                <option th:selected="${resultPage.size == 70}" value="70">70</option>
                                <option th:selected="${resultPage.size == 100}" value="100">100</option>
                            </select>
                        </div>

                        <nav aria-label="Page navigation example" th:if="${resultPage.totalPages >0}">
                            <ul class="pagination justify-content-center">
                                <li th:class="${1 == resultPage.number + 1}? 'page-item active' : 'page-item'">
                                    <button id="firstPageLotGiay" class="page-link">
                                        Trang đầu
                                    </button>
                                </li>
                                <li class="page-item disabled" th:if="${resultPage.number + 1 - 2 > 1}">
                                    <a class="page-link" href="#">...</a>
                                </li>
                                <li th:each="pageNumber : ${#numbers.sequence(resultPage.number + 1 > 2 ? resultPage.number + 1 - 2 : 1, resultPage.number + 1 + 2 < resultPage.totalPages ? resultPage.number + 1 + 2 : resultPage.totalPages)}"
                                    th:class="${pageNumber == resultPage.number + 1}? 'page-item active' : 'page-item'">
                                    <button th:id="pageNumberLotGiay+${pageNumber}" class="page-link"
                                            th:text="${pageNumber}">
                                    </button>
                                    <script th:inline="javascript">
                                        $(document).ready(function () {
                                            $('#pageNumberLotGiay[[${pageNumber}]]').on("click", function () {
                                                var num = parseInt("[[${pageNumber}]]");
                                                $('#inputPageLotGiay').attr("value", num);
                                                $('#flexUrlTableFormLotGiay').submit();
                                            })
                                        });
                                    </script>
                                </li>
                                <li class="page-item disabled"
                                    th:if="${resultPage.number + 1 + 2 < resultPage.totalPages}">
                                    <a class="page-link" href="#">...</a>
                                </li>
                                <li
                                        th:class="${ resultPage.totalPages == resultPage.number + 1}? 'page-item active' : 'page-item'">
                                    <button class="page-link" id="lastPageLotGiay">
                                        Trang cuối
                                    </button>
                                </li>
                            </ul>
                        </nav>
                        <script th:inline="javascript">
                            $(document).ready(function () {
                                $('#firstPageLotGiay').on("click", function () {
                                    var num = 1;
                                    $('#inputPageLotGiay').attr("value", num);
                                    $('#flexUrlTableFormLotGiay').submit();
                                })
                                $('#lastPageLotGiay').on("click", function () {
                                    var num = parseInt("[[${resultPage.totalPages}]]");
                                    $('#inputPageLotGiay').attr("value", num);
                                    $('#flexUrlTableFormLotGiay').submit();
                                })
                            });
                        </script>

                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal fade" id="createOrUpdateModalId" tabindex="-1" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="CreateOrUpdateTitle"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="col-sm-12">
                        <form method="post" id="formCreateOrUpdate" action="/admin/lot-giay/createOrUpdate">
                            <label for="TenLotGiay">Tên lót giày:</label>
                            <input type="text" class="form-control" id="tenLotGiayCreateOrUpdate"
                                   placeholder="Tên lót giày " name="tenLotGiayCreateOrUpdate">
                            <input type="number" name="lotGiayIdCreateOrUpdate" id="lotGiayIdCreateOrUpdate" hidden>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</a>
                    <a id="yesOptionCreateOrUpdateModalId" onclick="submitCreateOrUpdate()" type="button"
                       class="btn btn-primary">Thêm mới</a>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="deleteModalId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Xác nhận xóa lót giày</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Bạn có muốn xóa "<span id="productName"></span>"?
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</a>
                    <a id="yesOptionDeleteModalId" onclick="submitDeleteProduct()" type="button"
                       class="btn btn-primary">Xóa</a>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal delete all -->
    <div class="modal fade" id="confirmationDeleteIds" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Xác nhận xóa hết sản phẩm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Bạn có muốn xóa hết sản phẩm đã chọn?
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-outline-dark" data-dismiss="modal">Đóng</a>
                    <a onclick="flexUrlSubmit('deleteAllByIdsLotGiay', 'post', 'LotGiay')" type="button"
                       class="btn btn-danger text-light">Xóa</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>
    <script th:inline="javascript">
        window.onload = function () {
            var messageSuccess = '[[${messageSuccess}]]';
            var messageDanger = '[[${messageDanger}]]';
            $('#toastsCustomCss').attr("style", "position: absolute; top: 70px; right: 0;z-index: 10000;");
            if (messageSuccess.length !== 0) {
                $("#messageSuccess").toast("show");
            }
            if (messageDanger.length !== 0) {
                $("#messageDanger").toast("show");
            }
        }
    </script>
</section>
</body>

</html>