<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/dashboard}">
<head>
    <script type="text/javascript" th:src="@{/static/admin/js/mauSac/mauSac.js}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" th:href="@{/static/admin/css/sb-admin-2.min.css}">
    <script th:src="@{/static/admin/js/bootstrap.bundle.min.js}"></script>
</head>

<body>
    <section layout:fragment="content" class="container-fluid">
        <div id="toastsCustomCss">
            <div id="messageSuccess" th:if="${messageSuccess}" class="toast" role="alert" aria-live="assertive"
                 aria-atomic="true" data-delay="3000">
                <div class="toast-header">
                    <svg class="bd-placeholder-img rounded mr-2" width="20" height="20"
                         xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                         role="img">
                        <rect width="100%" height="100%" fill="#007aff"></rect>
                    </svg>
                    <strong class="me-auto">Thông báo</strong>
                    <small>Now</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body" th:text="${messageSuccess}"></div>
            </div>

            <div id="messageDanger" th:if="${messageDanger}" class="toast" role="alert" aria-live="assertive"
                 aria-atomic="true" data-delay="3000">
                <div class="toast-header">
                    <svg class="bd-placeholder-img rounded mr-2" width="20" height="20"
                         xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                         role="img">
                        <rect width="100%" height="100%" fill="red"></rect>
                    </svg>
                    <strong class="me-auto">Thông báo</strong>
                    <small>Now</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body" th:text="${messageDanger}"></div>
            </div>
        </div>
        <!-- Begin Page Content -->
        <div class="card shadow mb-1 pt-sm-2 pb-sm-3">
            <div class="col-lg-12">
                <div class="row" th:object="${mauSac}">
                    <div class="col-sm-4 mt-2">
                        <label >Tên màu sắc:</label>
                        <input type="text" class="form-control" th:field="*{TenMauSac}" placeholder="Tên sản phẩm"
                            readonly>
                    </div>
                    <div class="col-sm-4 mt-2">
                        <label >Mã màu sắc:</label>
                        <input type="color" class="form-control" th:field="*{MaMauSac}" placeholder="Tên sản phẩm"
                            readonly>
                    </div>
                    <div class="col-sm-4 mt-2">
                        <label >Tên người tạo:</label>
                        <input type="text" class="form-control" th:field="*{NguoiTao}" placeholder="Tên sản phẩm"
                            readonly>
                    </div>
                    <div class="col-sm-4 mt-2">
                        <label >Ngày tạo:</label>
                        <input type="text" class="form-control" th:field="*{NgayTao}" placeholder="Tên sản phẩm"
                            readonly>
                    </div>
                    <div class="col-sm-4 mt-2">
                        <label >Tên người sửa cuối:</label>
                        <input type="text" class="form-control" th:field="*{NguoiCapNhat}" placeholder="Tên sản phẩm"
                            readonly>
                    </div>
                    <div class="col-sm-4 mt-2">
                        <label >Ngày sửa cuối :</label>
                        <input type="text" class="form-control" th:field="*{NgayCapNhat}" placeholder="Tên sản phẩm"
                            readonly>
                    </div>
                </div>
            </div>

        </div>
    </section>
</body>

</html>