<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:thnum="http://www.thymeleaf.org/extras/numbers">
<head>
    <meta charset="utf-8"/>

    <title>Trang chủ - Quản trị hệ thống</title>

    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet"/>
    <link href="../../../static/assets/admin/css/styles.css" rel="stylesheet"/>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>

</head>
<body class="sb-nav-fixed">
<div th:insert="admin/layout/_header.html"> :: header"></div>

<div id="layoutSidenav">
    <div th:insert="admin/layout/_sidebar.html"> :: sidebar"></div>
    <div id="layoutSidenav_content">
        <main>

            <h1 class="mt-4"></h1>

            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Website bán quần áo Leopard</h1>
                    <p>Dù người ta có nói với bạn điều gì đi nữa</p>
                    <p>hãy tin rằng cuộc sống là điều kỳ diệu và đẹp đẽ</p>
                </div>
            </div>

        </main>


        <div th:insert="admin/layout/_footer.html"> :: footer"></div>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="../../../static/assets/admin/js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="../../../static/assets/admin/demo/chart-area-demo.js"></script>
<script src="../../../static/assets/admin/demo/chart-bar-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
        crossorigin="anonymous"></script>
<script src="../../../static/assets/admin/js/datatables-simple-demo.js"></script>
</body>
</html>