<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/dashboard}">
<head>
    <meta charset="UTF-8">
    <title>Trang chủ - Quản trị hệ thống</title>
</head>
<body>
<div class="main-content container-fluid" layout:fragment="content">
    <div class="page-title">
        <h3>Trang Chủ</h3>
        <p class="text-subtitle text-muted">A good dashboard to display your statistics</p>
    </div>
    <section class="section">
    <div class="row">
        <div class="col-md-12 text-center">
            <i class="fa-brands fa-squarespace"></i>
            <h1>Website bán giày thể thao NOVA</h1>
            <p>Dù người ta có nói với bạn điều gì đi nữa</p>
            <p>hãy tin rằng cuộc sống là điều kỳ diệu và đẹp đẽ <i class="fa-solid fa-feather"></i></p>
        </div>
    </div>
    </section>
</div>
</body>
</html>