<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Banner</title>

    <!-- Favicone Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/NOVA.jpg">
    <link rel="icon" type="img/png" href="img/NOVA.jpg">
    <link rel="apple-touch-icon" href="img/NOVA.jpg">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <link rel="stylesheet" th:href="@{/static/customer/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/customer/css/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/customer/css/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/customer/css/magnific-popup.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/customer/css/nice-select.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/customer/css/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/customer/css/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/customer/css/style.css}" type="text/css">

    <!-- CSS -->
    <link href="../../../static/customer/css/plugins/bootstrap.css" rel="stylesheet" type="text/css" />
    <!-- bootstrap css -->
    <link href="../../../static/customer/css/plugins/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- fontawesome css -->
    <link href="../../../static/customer/css/plugins/animate.css" rel="stylesheet" type="text/css" />
    <!-- animate css -->
    <link href="../../../static/customer/css/style.css" rel="stylesheet" type="text/css" />
    <!-- template css -->
    <link href="../../../static/customer/plugins/rev_slider/css/settings-ver.5.3.1.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div th:fragment="banner">
<!-- Intro -->
<section id="intro" class="intro" >
    <!-- Revolution Slider -->
    <div id="rev_slider_1078_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-source="gallery" style="background-color: transparent; padding: 0px;">
        <!-- START REVOLUTION SLIDER 5.3.0.2 fullwidth mode -->
        <div id="rev_slider_1078_1" class="rev_slider fullwidthabanner" style="display: none;" data-version="5.3.0.2">
            <ul>
                <li class="dark-bg" data-index="rs-1" data-transition="random" data-slotamount="7" data-masterspeed="500" data-thumb="" data-saveperformance="off" data-title="01">
                    <!-- Main Image Layer 0-->
                    <img th:src="@{/static/customer/img/slide-img/giay.jpg}" alt="h" title="home-1-slide-1" width="1920" height="1100" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="6" class="rev-slidebg" data-no-retina />


                    <!--Layer 1-->
                    <h1 class="tp-caption NotGeneric-Title tp-resizeme text-center" style="letter-spacing: 0px; line-height: 60px;"
                        data-x="140"
                        data-y="center"
                        data-hoffset=""
                        data-voffset="-100"
                        data-transform_idle="o:1;"
                        data-width="['auto','auto','auto','auto']"
                        data-height="['auto','auto','auto','auto']"
                        data-transform_in="y:50px;opacity:0;s:700;e:Power3.easeOut;"
                        data-transform_out="s:500;e:Power3.easeInOut;s:500;e:Power3.easeInOut;"
                        data-start="500"
                        data-speed="500"
                        data-endspeed="500"
                        data-splitin="none"
                        data-splitout="none"
                        data-responsive_offset="on">Sản Phẩm <br />
                        Giày Hot 2023
                    </h1>


                    <!--Layer 2-->
                    <h3 class="tp-caption NotGeneric-Title tp-resizeme h3 normal text-center" style="letter-spacing: 0px;"
                        data-x="195"
                        data-y="center"
                        data-hoffset=""
                        data-voffset="0"
                        data-transform_idle="o:1;"
                        data-width="['auto','auto','auto','auto']"
                        data-height="['auto','auto','auto','auto']"
                        data-transform_in="y:50px;opacity:0;s:700;e:Power3.easeOut;"
                        data-transform_out="s:500;e:Power3.easeInOut;s:500;e:Power3.easeInOut;"
                        data-start="800"
                        data-speed="500"
                        data-endspeed="500"
                        data-splitin="none"
                        data-splitout="none"
                        data-responsive_offset="on">Xu hướng thời trang của bạn là gì?
                    </h3>

                    <!--Layer 3-->
                    <a class="tp-caption NotGeneric-Title tp-resizeme btn btn-md btn-color"
                       data-x="245"
                       data-y="center"
                       data-hoffset=""
                       data-voffset="75"
                       data-transform_idle="o:1;"
                       data-width="['auto','auto','auto','auto']"
                       data-height="['auto','auto','auto','auto']"
                       data-transform_in="y:50px;opacity:0;s:700;e:Power3.easeOut;"
                       data-transform_out="s:500;e:Power3.easeInOut;s:500;e:Power3.easeInOut;"
                       data-start="1100"
                       data-speed="500"
                       data-endspeed="500"
                       data-splitin="none"
                       data-splitout="none"
                       data-responsive_offset="on" href="/khachhang/shop">Xem thêm
                    </a>


                </li>
                <li data-index="rs-2" data-transition="random" data-slotamount="7" data-masterspeed="500" data-thumb="" data-saveperformance="off" data-title="02">
                    <!-- Main Image Layer 0-->
                    <img th:src="@{/static/customer/img/slide-img/baner11.jpg}" alt="h" title="home-1-slide-1" width="1920" height="1100" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="6" class="rev-slidebg" data-no-retina />
                    <!-- LAYERS -->

                    <!--Layer 1-->
                    <h1 class="tp-caption NotGeneric-Title tp-resizeme" style="letter-spacing: 0px; line-height: 60px;"
                        data-x="150"
                        data-y="center"
                        data-hoffset=""
                        data-voffset="-100"
                        data-transform_idle="o:1;"
                        data-width="['auto','auto','auto','auto']"
                        data-height="['auto','auto','auto','auto']"
                        data-transform_in="y:50px;opacity:0;s:700;e:Power3.easeOut;"
                        data-transform_out="s:500;e:Power3.easeInOut;s:500;e:Power3.easeInOut;"
                        data-start="500"
                        data-speed="500"
                        data-endspeed="500"
                        data-splitin="none"
                        data-splitout="none"
                        data-responsive_offset="on">Bang's Eng<br/>
                        20% Off
                    </h1>


                    <!--Layer 2-->
                    <h3 class="tp-caption NotGeneric-Title tp-resizeme h3 normal " style="letter-spacing: 0px;"
                        data-x="150"
                        data-y="center"
                        data-hoffset=""
                        data-voffset="0"
                        data-transform_idle="o:1;"
                        data-width="['auto','auto','auto','auto']"
                        data-height="['auto','auto','auto','auto']"
                        data-transform_in="y:50px;opacity:0;s:700;e:Power3.easeOut;"
                        data-transform_out="s:500;e:Power3.easeInOut;s:500;e:Power3.easeInOut;"
                        data-start="800"
                        data-speed="500"
                        data-endspeed="500"
                        data-splitin="none"
                        data-splitout="none"
                        data-responsive_offset="on">Túi cho mùa hè
                    </h3>

                    <!--Layer 3-->
                    <a class="tp-caption NotGeneric-Title tp-resizeme btn btn-md btn-color"
                       data-x="150"
                       data-y="center"
                       data-hoffset=""
                       data-voffset="75"
                       data-transform_idle="o:1;"
                       data-width="['auto','auto','auto','auto']"
                       data-height="['auto','auto','auto','auto']"
                       data-transform_in="y:50px;opacity:0;s:700;e:Power3.easeOut;"
                       data-transform_out="s:500;e:Power3.easeInOut;s:500;e:Power3.easeInOut;"
                       data-start="1100"
                       data-speed="500"
                       data-endspeed="500"
                       data-splitin="none"
                       data-splitout="none"
                       data-responsive_offset="on" href="/khachhang/shop">Xem thêm
                    </a>
                </li>
                <li data-index="rs-3" data-transition="random" data-slotamount="7" data-masterspeed="500" data-thumb="" data-saveperformance="off" data-title="03">
                    <!-- Main Image Layer 0-->
                    <img th:src="@{/static/customer/img/slide-img/baner6.jpg}" alt="h" title="home-1-slide-1" width="1920" height="1100" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="6" class="rev-slidebg" data-no-retina />
                    <!-- LAYERS -->

                    <!--Layer 1-->
                    <div class="tp-caption NotGeneric-Title tp-resizeme" style="letter-spacing: 0px; line-height: 60px;"
                         data-x="center"
                         data-y="center"
                         data-hoffset=""
                         data-voffset="-65"
                         data-transform_idle="o:1;"
                         data-width="['auto','auto','auto','auto']"
                         data-height="['auto','auto','auto','auto']"
                         data-transform_in="y:50px;opacity:0;s:700;e:Power3.easeOut;"
                         data-transform_out="s:500;e:Power3.easeInOut;s:500;e:Power3.easeInOut;"
                         data-start="500"
                         data-speed="500"
                         data-endspeed="500"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on">
                        <img th:src="@{/static/customer/img/slider-caption-sale.png}" alt="" style="width: 100%; max-width: 682px;" />
                    </div>

                    <!--Layer 2-->
                    <a class="tp-caption NotGeneric-Title tp-resizeme btn btn-md btn-black"
                       data-x="center"
                       data-y="center"
                       data-hoffset=""
                       data-voffset="65"
                       data-transform_idle="o:1;"
                       data-width="['auto','auto','auto','auto']"
                       data-height="['auto','auto','auto','auto']"
                       data-transform_in="y:50px;opacity:0;s:700;e:Power3.easeOut;"
                       data-transform_out="s:500;e:Power3.easeInOut;s:500;e:Power3.easeInOut;"
                       data-start="900"
                       data-speed="500"
                       data-endspeed="500"
                       data-splitin="none"
                       data-splitout="none"
                       data-responsive_offset="on" href="/khachhang/shop">Xem thêm
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- End Revolution Slider -->
</section>
<!-- End Intro -->

<!-- Promo Box -->
<section id="promo" class="section-padding-sm promo ">
    <div class="container">
        <div class="promo-box row">
            <div class="col-md-4 mtb-sm-30 promo-item">
                <div class="icon"><i class="fa fa-truck-fast" aria-hidden="true"></i></div>
                <div class="info">
                    <a href="/khachhang/home">
                        <h6 class="normal">GIAO HÀNG TOÀN QUỐC</h6>
                    </a>
                    <p>Hỗ trợ giao hàng trên 63 tỉnh thành.</p>
                </div>
            </div>
            <div class="col-md-4 mtb-sm-30 promo-item">
                <div class="icon"><i class="fa-regular fa-credit-card" aria-hidden="true"></i></div>
                <div class="info">
                    <a href="/khachhang/home">
                        <h6 class="normal">THANH TOÁN BẢO MẬT</h6>
                    </a>
                    <p>Tất cả các thanh toán đều được bảo mật.</p>
                </div>
            </div>
            <div class="col-md-4 mtb-sm-30 promo-item">
                <div class="icon"><i class="fa fa-headphones" aria-hidden="true"></i></div>
                <div class="info">
                    <a href="/khachhang/home">
                        <h6 class="normal">HỖ TRỢ TRỰC TUYẾN</h6>
                    </a>
                    <p>Chúng tôi hỗ trợ 24/7.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Promo Box -->

<!-- Promo Banner -->
<!--<section id="promo-banner" class="section-padding-b">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            &lt;!&ndash;Left Side&ndash;&gt;-->
<!--            <div class="col-md-6">-->
<!--                <div class="row">-->
<!--                    <div class="col-12 mb-30">-->
<!--                        &lt;!&ndash; banner No.1 &ndash;&gt;-->
<!--                        <div class="promo-banner-wrap">-->
<!--                            <a href="#" class="promo-image-wrap">-->
<!--                                <img th:src="@{/static/customer/img/banner/promo-banner4.jpg}" alt="Accesories" />-->
<!--                            </a>-->
<!--                        </div>-->


<!--                    </div>-->
<!--                    <div class="col-12 mb-sm-30">-->
<!--                        &lt;!&ndash; banner No.2 &ndash;&gt;-->
<!--                        <div class="promo-banner-wrap">-->
<!--                            <a href="#" class="promo-image-wrap">-->
<!--                                <img th:src="@{/static/customer/img/banner/promo-banner3.jpg}" alt="Accesories" />-->
<!--                            </a>-->
<!--                        </div>-->


<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            &lt;!&ndash;Right Side&ndash;&gt;-->
<!--            <div class="col-md-6">-->
<!--                <div class="row">-->
<!--                    <div class="col-12 mb-30">-->
<!--                        &lt;!&ndash; banner No.3 &ndash;&gt;-->
<!--                        <div class="promo-banner-wrap">-->
<!--                            <a href="/khachhang/home" class="promo-image-wrap">-->
<!--                                <img th:src="@{/static/customer/img/banner/promo-banner2.jpg}" alt="Accesories" />-->
<!--                            </a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-12 mb-sm-30">-->
<!--                        &lt;!&ndash; banner No.4 &ndash;&gt;-->
<!--                        <div class="promo-banner-wrap">-->
<!--                            <a href="/khachhang/home" class="promo-image-wrap">-->
<!--                                <img th:src="@{/static/customer/img/banner/promo-banner5.jpg}" alt="Accesories" />-->
<!--                            </a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!-- End Promo Banner -->
</div>

<script type="text/javascript" src="../../../static/customer/js/jquery.min.js"></script>
<script type="text/javascript" src="../../../static/customer/js/plugins/jquery-ui.js"></script>
<!-- jquery library js -->
<script type="text/javascript" src="../../../static/customer/js/plugins/modernizr.js"></script>
<!--modernizr Js-->
<script type="text/javascript" src="../../../static/customer/plugins/rev_slider/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="../../../static/customer/plugins/rev_slider/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="../../../static/customer/plugins/rev_slider/js/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="../../../static/customer/plugins/rev_slider/js/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="../../../static/customer/plugins/rev_slider/js/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="../../../static/customer/plugins/rev_slider/js/revolution.extension.layeranimation.min.js"></script>
<!--Slider Revolution Js File-->
<script type="text/javascript" src="../../../static/customer/js/plugins/tether.min.js"></script>
<!--Bootstrap tooltips require Tether (Tether Js)-->
<script type="text/javascript" src="../../../static/customer/js/plugins/bootstrap.min.js"></script>
<!-- bootstrap js -->
<script type="text/javascript" src="../../../static/customer/js/plugins/owl.carousel.js"></script>
<!-- OWL carousel js -->
<script type="text/javascript" src="../../../static/customer/js/plugins/slick.js"></script>
<!-- Slick Slider js -->
<script type="text/javascript" src="../../../static/customer/js/plugins/plugins-all.js"></script>
<!-- Plugins All js -->
<script type="text/javascript" src="../../../static/customer/js/custom.js"></script>
<!-- custom js -->
<!-- end jquery -->
<script type="text/javascript" src="/static/customer/plugins/photoswipe_popup/photoswipe.min.js"></script>
<script type="text/javascript" src="/static/customer/plugins/photoswipe_popup/photoswipe-ui-default.min.js"></script>
<script type="text/javascript" src="/static/customer/plugins/photoswipe_popup/photoswipe-core.js"></script>

<script th:src="@{/static/customer/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/static/customer/js/cloudflare-ajax-axios.js}"></script>
<script th:src="@{/static/customer/js/jquery.validation.min.js}"></script>
<script th:src="@{/static/customer/js/poper.js}"></script>
<script th:src="@{/static/customer/js/bootstrap.min.js}"></script>
<script th:src="@{/static/customer/js/jquery.nice-select.min.js}"></script>
<script th:src="@{/static/customer/js/jquery.nicescroll.min.js}"></script>
<script th:src="@{/static/customer/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/static/customer/js/jquery.countdown.min.js}"></script>
<script th:src="@{/static/customer/js/jquery.slicknav.js}"></script>
<script th:src="@{/static/customer/js/mixitup.min.js}"></script>
<script th:src="@{/static/customer/js/owl.carousel.min.js}"></script>
<script th:src="@{/static/customer/js/main.js}"></script>
</body>
</html>