<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
<!-- Footer Section -------------->
<footer class="footer section-padding" th:fragment="footer">
    <!-- Footer Info -->
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12 col-sm-12 mb-sm-45">
                <div class="footer-block about-us-block">
                    <img src="../../../static/customer/img/NOVA.png" width="125" alt="">
                    <p>NOVA nơi tạo ra các sản phẩm giày thời trang trẻ trung, phong cách, bắt trend cho giới trẻ.</p>
                    <ul class="footer-social-icon list-none-ib">
                        <li><a href="/khachhang/home" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="/khachhang/home" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="/khachhang/home" target="_blank"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                        <li><a href="/khachhang/home" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="/khachhang/home" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 mb-sm-45">
                <div class="footer-block information-block">
                    <h6>Thông tin</h6>
                    <ul>
                        <li><a href="/khachhang/home">Giới thiệu về chúng tôi</a></li>
                        <li><a href="/khachhang/home">Thông tin giao hàng</a></li>
                        <li><a href="/khachhang/home">Giảm giá</a></li>
                        <li><a href="/khachhang/home">Tin tức mới nhất</a></li>
                        <li><a href="/khachhang/home">Điều khoản &amp; Điều kiện</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 mb-sm-45">
                <div class="footer-block links-block">
                    <h6>Liên kết của chúng tôi</h6>
                    <ul>
                        <li><a href="/khachhang/home">Thương hiệu</a></li>
                        <li><a href="/khachhang/home">Phiếu quà tặng</a></li>
                        <li><a href="/khachhang/home">Sự kiện đặc biệt</a></li>
                        <li><a href="/khachhang/home">Chính sách quyền riêng tư</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 mb-sm-45">
                <div class="footer-block extra-block">
                    <h6>CÁC CHÍNH SÁCH</h6>
                    <ul>
                        <li><a href="/khachhang/home">Chính sách bảo mật của NOVA</a></li>
                        <li><a href="/khachhang/home">Phương thức thanh toán của NOVA</a></li>
                        <li><a href="/khachhang/home">Chính sách vận chuyển của NOVA</a></li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12">
                <div class="footer-block contact-block">
                    <h6>Liên Hệ</h6>
                    <ul>
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i> Phố Trịnh Văn Bô, Phường Phương Canh

                            Quận Nam Từ Liêm, TP Hà Nội</li>
                        <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:datn.novashoes@gmail.com">datn.novashoes@gmail.com</a></li>
                        <li><i class="fa fa-phone" aria-hidden="true"></i>(84) 368028003</li>
                        <li><i class="fa fa-fax" aria-hidden="true"></i>(84) 368028003</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Info -->
    <!-- Footer Copyright -->
    <div class="container">
        <div class="copyrights">
            <p class="copyright">Đối tác thanh toán</p>
            <p class="payment">
                <img th:src="@{/static/customer/img/payment_logos.png}" alt="payment">
            </p>
        </div>
    </div>
</footer>
</body>
</html>