<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Footer Section -------------->
<footer class="footer section-padding" th:fragment="footer">
    <!-- Footer Info -->
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12 col-sm-12 mb-sm-45">
                <div class="footer-block about-us-block">
                    <img src="../../../static/customer/img/NOVA.png" width="125" alt="">
                    <p>NOVA nơi trao tặng các sản phẩm giày thời trang trẻ trung, phong cách, bắt trend cho giới trẻ.</p>
                    <ul class="footer-social-icon list-none-ib">
                        <li><a href="http://facebook.com/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                        <li><a href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 mb-sm-45">
                <div class="footer-block information-block">
                    <h6>Information</h6>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Delivery Information</a></li>
                        <li><a href="#">Discount</a></li>
                        <li><a href="#">Latest News</a></li>
                        <li><a href="#">Our Sitemap</a></li>
                        <li><a href="#">Terms &amp; Condition</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 mb-sm-45">
                <div class="footer-block links-block">
                    <h6>Our Links</h6>
                    <ul>
                        <li><a href="#">Brands</a></li>
                        <li><a href="#">Gift Vouchers</a></li>
                        <li><a href="#">Affiliates</a></li>
                        <li><a href="#">Special Event</a></li>
                        <li><a href="#">Retunrs</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 mb-sm-45">
                <div class="footer-block extra-block">
                    <h6>CÁC CHÍNH SÁCH</h6>
                    <ul>
                        <li><a href="#">Chính sách bảo mật của NOVA</a></li>
                        <li><a href="#">Chính sách bảo hành của NOVA</a></li>
                        <li><a href="#">Chính sách đổi trả hoàn tiền của NOVA</a></li>
                        <li><a href="#">Phương thức thanh toán của NOVA</a></li>
                        <li><a href="#">Chính sách vận chuyển của NOVVA</a></li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12">
                <div class="footer-block contact-block">
                    <h6>Liên Hệ</h6>
                    <ul>
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i> Trịnh văn bô, Phường Phương Canh
                            <br>
                            Quận Nam Từ Liêm, TP Hà Nội</li>
                        <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@sky.com">nova@gmail.com</a></li>
                        <li><i class="fa fa-phone" aria-hidden="true"></i>0123456789</li>
                        <li><i class="fa fa-fax" aria-hidden="true"></i>0123456789</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Info -->
    <!-- Footer Copyright -->
    <div class="container">
        <div class="copyrights">
            <p class="copyright">Đối tác thanh toán</p>
            <p class="payment">
                <img src="img/payment_logos.png" alt="payment">
            </p>
        </div>
    </div>
    <!-- End Footer Copyright -->
</footer>
<!-- End Footer Section -------------->

</body>
</html>