<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
    <meta charset="utf-8">
    <title>NOVA</title>
    <meta name="description" content="test" />
    <meta name="keywords" content="philos, WooCommerce, bootstrap, html template, test">
    <meta name="author" content="philos" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

    <!-- Favicone Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/NOVA.jpg">
    <link rel="icon" type="img/png" href="img/NOVA.jpg">
    <link rel="apple-touch-icon" href="img/NOVA.jpg">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <link rel="stylesheet" th:href="@{/static/customer/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/customer/css/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/customer/css/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/customer/css/magnific-popup.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/customer/css/nice-select.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/customer/css/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/customer/css/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/customer/css/style.css}" type="text/css">

    <!-- CSS -->
    <link href="/static/customer/css/plugins/bootstrap.css" rel="stylesheet" type="text/css" />
    <!-- bootstrap css -->
    <link href="/static/customer/css/plugins/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- fontawesome css -->
    <link href="/static/customer/css/plugins/animate.css" rel="stylesheet" type="text/css" />
    <!-- animate css -->
    <link href="/static/customer/css/style.css" rel="stylesheet" type="text/css" />
    <!-- template css -->
    <link href="/static/customer/plugins/rev_slider/css/settings-ver.5.3.1.css" rel="stylesheet" type="text/css" />

<!--    <link href="/static/customer/plugins/photoswipe_popup/photoswipe.css" rel="stylesheet" type="text/css" />-->
<!--    <link href="/static/customer/plugins/photoswipe_popup/default-skin/default-skin.css" rel="stylesheet" type="text/css" />-->
</head>
<body>
<span th:replace="customer/layout/header :: header"></span>
<section layout:fragment="content">
    <div>

    </div>
</section>

<span th:replace="customer/layout/footer :: footer"></span>


<!-- JAVASCRIPT -->
<!--==========================================-->
<script type="text/javascript" src="/static/customer/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/customer/js/plugins/jquery-ui.js"></script>
<!-- jquery library js -->
<script type="text/javascript" src="/static/customer/js/plugins/modernizr.js"></script>
<!--modernizr Js-->
<script type="text/javascript" src="/static/customer/plugins/rev_slider/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="/static/customer/plugins/rev_slider/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="/static/customer/plugins/rev_slider/js/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="/static/customer/plugins/rev_slider/js/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="/static/customer/plugins/rev_slider/js/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="/static/customer/plugins/rev_slider/js/revolution.extension.layeranimation.min.js"></script>
<!--Slider Revolution Js File-->
<script type="text/javascript" src="/static/customer/js/plugins/tether.min.js"></script>
<!--Bootstrap tooltips require Tether (Tether Js)-->
<script type="text/javascript" src="/static/customer/js/plugins/bootstrap.min.js"></script>
<!-- bootstrap js -->
<script type="text/javascript" src="/static/customer/js/plugins/owl.carousel.js"></script>
<!-- OWL carousel js -->
<script type="text/javascript" src="/static/customer/js/plugins/slick.js"></script>
<!-- Slick Slider js -->
<script type="text/javascript" src="/static/customer/js/plugins/plugins-all.js"></script>
<!-- Plugins All js -->
<script type="text/javascript" src="/static/customer/js/custom.js"></script>
<!-- custom js -->
<!-- end jquery -->
<script type="text/javascript" src="/static/customer/plugins/photoswipe_popup/photoswipe.min.js"></script>
<script type="text/javascript" src="/static/customer/plugins/photoswipe_popup/photoswipe-ui-default.min.js"></script>
<script type="text/javascript" src="/static/customer/plugins/photoswipe_popup/photoswipe-core.js"></script>

<script th:src="@{/static/customer/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/static/customer/js/cloudflare-ajax-axios.js}"></script>
<script th:src="@{/static/customer/js/jquery.validation.min.js}"></script>
<script th:src="@{/static/customer/js/poper.js}"></script>
<script th:src="@{/static/customer/js/bootstrap.min.js}"></script>
<script th:src="@{/static/customer/js/jquery.nice-select.min.js}"></script>
<script th:src="@{/static/customer/js/jquery.nicescroll.min.js}"></script>
<script th:src="@{/static/customer/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/static/customer/js/jquery.countdown.min.js}"></script>
<script th:src="@{/static/customer/js/jquery.slicknav.js}"></script>
<script th:src="@{/static/customer/js/mixitup.min.js}"></script>
<script th:src="@{/static/customer/js/owl.carousel.min.js}"></script>
<script th:src="@{/static/customer/js/main.js}"></script>
</body>
</html>