<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Đăng nhập</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" th:href="@{/static/admin/images/favicon.svg}" type="image/x-icon">
    <!--    <link rel="stylesheet" th:href="@{/admin/css/login/login1.scss}">-->
    <link rel="stylesheet" th:href="@{/static/admin/css/login/login.css}">
    <script th:src="@{/static/admin/js/login/login.js}"></script>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://kit.fontawesome.com/999051c9de.js"
            crossorigin="anonymous"></script>

</head>
<body class="js-fullheight">
<section class="vh-100" style="background-color: #fcfbfb;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block login">
                            <img th:src="@{/static/admin/img/signup.gif}"
                                 alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;"/>
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">


                                <form th:action="@{/security/login}" action="login" method="post"
                                      enctype="multipart/form-data">

                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <span class="h1 fw-bold mb-0"> <h1 class="giua">
                                                <img class="anh" th:src="@{/static/admin/images/logo-Nova-remove.png}"/>
                                                Đăng Nhập</h1></span>

                                    </div>
                                    <p>
                                        <th:block th:if="${alert == 'danger'}">
                                            <i class="pull-left text-danger" th:text="${message}"></i>
                                        </th:block>
                                        <th:block th:if="${alert == 'success'}">
                                            <i class="pull-left text-success" th:text="${message}"></i>
                                        </th:block>
                                    <div th:if="${param.logout}">
                                        <i class="pull-left text-success">Đăng xuất thành công !</i>
                                    </div>
                                    </p>


                                    <div class="form-outline mb-4 input">
                                        <label class="form-label" for="form2Example17"><i
                                                class="fa-solid fa-envelope"></i>
                                            Email</label>
                                        <input type="text" id="userName" class="form-control form-control-lg "
                                               name="username" placeholder="Nhập email..." required/>

                                    </div>
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="password"><i class="fa-solid fa-lock"></i> Mật
                                            Khẩu</label>
                                        <div class="password-toggle">
                                            <input type="password" id="password" class="form-control form-control-lg"
                                                   name="password" placeholder="Nhập mật khẩu..." onclick="showPass()" required=""/>
                                            <i class="fa-solid fa-eye-slash password-toggle-icon" id="togglePassword"
                                               style="display: none;"></i>
                                            <span toggle="#password-field"></span>
<!--                                            <i class="fas fa-check" id="validIcon" style="display: none; color: green;"></i>-->
<!--                                            <i class="fas fa-times" id="invalidIcon" style="display: none; color: red;"></i>-->
                                        </div>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input type="checkbox"  name="checkbox"  id="rememberMeCheckbox" checked> Remember me ?
                                        <a class="small text-muted i" th:href="@{/security/forgot-password}">Quên mật
                                            khẩu?</a>

                                    </div>

                                    <div class="pt-1 mb-4 btn">
                                        <button type="submit"><i
                                                class="fa-solid fa-arrow-right-to-bracket"></i> Đăng nhập
                                        </button>
                                    </div>

                                    <div class="content__or-text">
                                        <span></span>
                                        <span>OR</span>
                                        <span></span>
                                    </div>
                                    <div class="pt-1 mb-4 btn1 len ">

                                        <button type="submit">
                                            <a th:href="@{/oauth2/authorization/google}" class="cach">
                                                <svg stroke="currentColor" fill="currentColor" stroke-width="0"
                                                     version="1.1" x="0px" y="0px" class="google-icon sang"
                                                     viewBox="0 0 48 48"
                                                     height="30" width="38" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill="#FFC107" d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12
	c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24
	c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"></path>
                                                    <path fill="#FF3D00" d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657
	C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"></path>
                                                    <path fill="#4CAF50" d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36
	c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"></path>
                                                    <path fill="#1976D2" d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571
	c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"></path>
                                                </svg>
                                                Đăng nhập với Google?
                                            </a>
                                        </button>

                                        <br>
                                        <br>

                                        <div class="mb-5 pb-lg-2 l" style="color: #393f81;"> Bạn chưa có tài khoản? <a
                                                th:href="@{/security/register/create}"
                                                style="color: blue;"> Đăng ký ngay.</a></div>
                                    </div>

                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<br>
<br>
<br>
<script>
    // function showPass() {
    //     const passwordField = document.getElementById('password');
    //     const togglePassword = document.getElementById('togglePassword');
    //
    //     function togglePasswordIcon() {
    //         if (passwordField.value === '') {
    //             togglePassword.style.display = 'none';
    //         } else {
    //             togglePassword.style.display = 'block';
    //         }
    //     }
    //
    //     // Check password validity and display icons
    //     function checkPasswordValidity() {
    //         const validIcon = document.getElementById('validIcon');
    //         const invalidIcon = document.getElementById('invalidIcon');
    //         const password = passwordField.value;
    //         const minLength = 6; // Độ dài tối thiểu của mật khẩu
    //         const maxLenght = 12;
    //
    //         if (password.length <= minLength || password.length >= maxLenght) {
    //             validIcon.style.display = 'inline'; // Hiển thị icon xanh khi mật khẩu hợp lệ
    //             invalidIcon.style.display = 'none'; // Ẩn icon đỏ
    //         } else {
    //             validIcon.style.display = 'none'; // Ẩn icon xanh
    //             invalidIcon.style.display = 'inline'; // Hiển thị icon đỏ khi mật khẩu không hợp lệ
    //         }
    //     }
    //
    //     // Nếu không nhập gì, không hiển thị icon
    //     togglePasswordIcon();
    //
    //     togglePassword.addEventListener('click', function () {
    //         const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
    //         passwordField.setAttribute('type', type);
    //
    //         // Thay đổi icon
    //         if (type === 'password') {
    //             togglePassword.classList.add('fa-eye');
    //             togglePassword.classList.remove('fa-eye-slash');
    //         } else {
    //             togglePassword.classList.remove('fa-eye');
    //             togglePassword.classList.add('fa-eye-slash');
    //         }
    //     });
    //
    //     // Kiểm tra giá trị khi người dùng nhập mật khẩu
    //     passwordField.addEventListener('input', function () {
    //         togglePasswordIcon();
    //         checkPasswordValidity();
    //     });
    // }
    // ``

     function showPass() {
         const togglePassword = document.getElementById('togglePassword');
         const passwordField = document.getElementById('password');

         // Call hiện/ẩn hiển thị mật khẩu
         function togglePasswordIcon() {
             if (passwordField.value === '') {
                 togglePassword.style.display = 'none';
             } else {
                 togglePassword.style.display = 'block';
             }
         }

         // Call nếu nhập vào text thi hiển thị icon
         togglePasswordIcon();

         togglePassword.addEventListener('click', function () {
             const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
             passwordField.setAttribute('type', type);

             // Change icon
             if (type === 'password') {
                 togglePassword.classList.add('fa-eye-slash');
                 togglePassword.classList.remove('fa-eye');
             } else {
                 togglePassword.classList.remove('fa-eye-slash');
                 togglePassword.classList.add('fa-eye');
             }
         });

         // Kiểm tra input value khi nhập
         passwordField.addEventListener('input', togglePasswordIcon);
     }
</script>
</body>
</html>