<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{customer/layout/index}"
>
<head>
    <meta charset="UTF-8">
    <title>Sản Phẩm</title>
    <script src="/static/customer/view/shop-details.js"></script>
    <script src="/static/admin/js/banHang/banHangOnline/addToCart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>

    <!-- CSS của jQuery UI (nếu cần) -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
</head>
<body>

<div class="shop-details" layout:fragment="content">
    <div id="flexUrlTableFormShopDetails" th:object="${shopDetails}">
        <input type="hidden" th:field="*{sanPhamId}">
        <div class="page-content-wraper">
            <!-- Bread Crumb -->
            <section class="breadcrumb">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <nav class="breadcrumb-link">
                                <a th:href="@{/khachhang/home}">Trang chủ</a>
                                <span>Chi tiết sản phẩm</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Bread Crumb -->

            <!-- Page Content -->
            <section id="product-ID_XXXX" class="content-page single-product-content">

                <!-- Product -->
                <div id="product-detail" class="container">
                    <div class="row">
                        <div class="col-lg-9 col-md-12 product-content sidebar-position-right">
                            <div class="row">
                                <!-- Product Image -->
                                <div class="col-lg-6 col-md-12 col-sm-12 mb-30">
                                    <div class="product-page-image">
                                        <!-- Slick Image Slider -->
                                        <div class="product-image-slider product-image-gallery"
                                             id="product-image-gallery" data-pswp-uid="3">
                                            <div class="item" th:each="img, istat : ${shopDetails.anhChinhs1}"
                                                 th:id="'nav-item-s1-'+${istat.index}">
                                                <a class="product-gallery-item" th:href="${'/khachhang/images/'+img}"
                                                   data-size="" th:data-med="${'/khachhang/images/'+img}"
                                                   data-med-size=""
                                                   th:tab-id="'tabs-s1-'+${istat.index}"
                                                   th:id="'imgActiveS1'+${istat.index}"
                                                   th:classappend="${istat.index == 0? 'active':''}"
                                                   th:nav-id="'nav-item-s1-'+${istat.index}"
                                                   onmouseover="changeTab(this.getAttribute('tab-id'),this.getAttribute('nav-id'))"
                                                >
                                                    <img th:src="${'/khachhang/images/'+img}" alt="">
                                                </a>
                                            </div>
                                        </div>
                                        <!-- End Slick Image Slider -->

                                        <a href="javascript:void(0)" id="zoom-images-button" class="zoom-images-button"><i
                                                class="fa fa-expand" aria-hidden="true"></i></a>


                                    </div>

                                    <!-- Slick Thumb Slider -->
                                    <div class="product-image-slider-thumbnails">
                                        <div class="item" th:id="'tabs-s1-'+${istat.index}"
                                             th:classappend="${istat.index == 0? 'active':''}"
                                             th:each="img, istat : ${shopDetails.anhChinhs1}"
                                        >
                                            <img th:src="${'/khachhang/images/'+img}" alt="image 1"/>
                                        </div>

                                    </div>
                                    <!-- End Slick Thumb Slider -->
                                </div>
                                <!-- End Product Image -->

                                <!-- Product Content -->
                                <div class="col-lg-6 col-md-12 col-sm-12 mb-30">
                                    <div class="product-page-content">
                                        <h2 class="product-title" th:text="${shopDetails.tenSanPham}">Giày Thượng
                                            đình</h2>


                                        <div class="product-price">

                                            <span><span class="product-price-sign"></span>
                        <span class="product-price-text"
                              th:text="${#numbers.formatDecimal(shopDetails.gia, 0, 'COMMA', 0, 'POINT')} + ' VNĐ'"></span></span>
                                        </div>
                                        <div class="row product-filters product__details__option">
                                            <form class="col-md-12 filters-color product__details__option__color">
                                                <label for="select-color">Màu Sắc</label>
                                                <div class="color-selector ">
                                                    <a id="qqq" class="entry chonMauSaca"
                                                       th:each="mauSac: ${mauSacList} "
                                                       th:style="'background:'+ ${mauSac}" th:attr="data-id=${mauSac}">
                                                    </a>
                                                    <input type="hidden" id="mauSacDaChon">
                                                </div>
                                            </form>
                                            <form class="col-md-12 filters-size product__details__option__size">
                                                <label for="select-size">Size</label>
                                                <div class="size-selector">
                                                    <a class="entry chonKichCoa" type="radio"
                                                       th:each="kichCo: ${kichCoList}" th:text="${kichCo}"
                                                       th:attr="data-id=${kichCo}">
                                                    </a>
                                                    <input type="hidden" id="kichCoDaChon-customer">
                                                </div>
                                            </form>
                                            <input type="hidden" id="id_san_pham" th:data-id="${shopDetails.sanPhamId}">

                                        </div>

                                        <!--                                        <div class="mt-2"><span class="fw-bold">Màu sắc</span>-->
                                        <!--                                            <div class="colors">-->
                                        <!--                                                <ul id="marker" th:each="mauSac: ${mauSacList}">-->
                                        <!--                                                    <button class="chonMauSaca"-->
                                        <!--                                                            th:style="'background:'+ ${mauSac}" th:attr="data-id=${mauSac}"></button>-->
                                        <!--                                                    <input type="hidden" id="mauSacDaChon">-->
                                        <!--                                                </ul>-->
                                        <!--                                            </div>-->
                                        <!--                                        </div>-->

                                        <!--                                        <div class="mt-3"><span class="fw-bold">Kích cỡ</span>-->
                                        <!--                                            <div class="colors" id="div-kichCoCustomer">-->
                                        <!--                                                <ul id="marker" >-->
                                        <!--                                                    <button  th:each="kichCo: ${kichCoList}" th:text="${kichCo}"  th:attr="data-id=${kichCo}" class="chonKichCoa"></button>-->
                                        <!--                                                    <input type="hidden" id="kichCoDaChon-customer">-->
                                        <!--                                                </ul>-->
                                        <!--                                            </div>-->
                                        <!--                                        </div>-->
                                        <!--                                        <input type="hidden" id="id_san_pham" th:data-id="${shopDetails.sanPhamId}">-->

                                        <p>Số lượng hiện có: <span class="soLuongHienCoCus"
                                                                   th:id="'soLuongHienCoCus' + ${shopDetails.sanPhamId}"></span>
                                        </p>
                                        <form class="single-variation-wrap product__details__cart__option">
                                            <div class="product-quantity">
                                                <span data-value="+" class="quantity-btn quantityPlus"></span>
                                                <input class="quantity input-lg daucatmoi" step="1" min="1"

                                                       th:field="*{soLuong}"/>
                                                <span data-value="-" class="quantity-btn quantityMinus"></span>
                                            </div>
                                            <a id="themVaoGioHang" th:data-id="${shopDetails.sanPhamId}"
                                               class="btn btn-lg btn-black"><i class="fas fa-cart-plus"></i>Thêm Vào Giỏ
                                                <input type="hidden" id="auth" th:value="${#authentication.name}">
                                                <a/>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="sidebar-widget-outline product-banner-icon-text promo-box">
                            <div class="promo-item">
                                <div class="icon"><i class="fa fa-truck" aria-hidden="true"></i></div>
                                <div class="info">
                                    <a href="#">
                                        <h6 class="normal">Ship Hàng Toàn Quốc</h6>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>


        <!-- End Product -->

        <!-- Product Content Tab -->
        <div class="product-tabs-wrapper container">
            <ul class="product-content-tabs nav nav-tabs" role="tablist">

                <li class="nav-item">
                    <a class="active" href="#tab_description" role="tab" data-toggle="tab">Mô tả Sản Phẩm</a>
                </li>
                <li class="nav-item">
                    <a class="" href="#tab_additional_information" role="tab" data-toggle="tab">Thông Tin Sản
                        Phẩm</a>
                </li>
            </ul>
            <div class="product-content-Tabs_wraper tab-content container">
                <div id="tab_description" role="tabpanel" class="tab-pane fade in active">
                    <!-- Accordian Title -->
                    <h6 class="product-collapse-title" data-toggle="collapse"
                        data-target="#tab_description-coll">Description</h6>
                    <!-- End Accordian Title -->
                    <!-- Mô tả sản phẩm -->
                    <div id="tab_description-coll" class="shop_description product-collapse collapse container">
                        <div class="row">
                            <div class=" col-md-12">
                                <p th:text="${shopDetails.moTa}">

                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Kết thúc mô tả sản phẩm -->
                </div>

                <div id="tab_additional_information" role="tabpanel" class="tab-pane fade">
                    <!-- Accordian Title -->
                    <h6 class="product-collapse-title" data-toggle="collapse"
                        data-target="#tab_additional_information-coll">Additional Information</h6>
                    <!-- End Accordian Title -->
                    <!-- Thông tin sản phẩm -->
                    <div id="tab_additional_information-coll" class="container product-collapse collapse">

                        <table class="shop_attributes">
                            <tbody>
                            <tr>
                                <th>Màu Sắc</th>
                                <td><a class="entry" th:each="mauSac1: ${tenMauSacList} "
                                       th:text="${mauSac1}"></a></td>
                            </tr>
                            <tr>
                                <th>Kich Cỡ</th>
                                <td><a th:each="kichCo: ${kichCoList}" th:text="${kichCo}"></a></td>
                            </tr>
                            <!--                                    <tr>-->
                            <!--                                        <th>Dimensions</th>-->
                            <!--                                        <td>60 x 40 x 60 cm</td>-->
                            <!--                                    </tr>-->
                            <!--                                    <tr>-->
                            <!--                                        <th>Washcare</th>-->
                            <!--                                        <td>Dry Clean</td>-->
                            <!--                                    </tr>-->
                            <!--                                    <tr>-->
                            <!--                                        <th>Composition</th>-->
                            <!--                                        <td>100% Polyester</td>-->
                            <!--                                    </tr>-->
                            <!--                                    <tr>-->
                            <!--                                        <th>Lining composition</th>-->
                            <!--                                        <td>100% Polyester</td>-->
                            <!--                                    </tr>-->
                            <!--                                    <tr>-->
                            <!--                                        <th>Other info</th>-->
                            <!--                                        <td>Ullamcorper nisl mus integer mollis vestibulu</td>-->
                            <!--                                    </tr>-->
                            </tbody>
                        </table>

                    </div>
                    <!-- kết thúc thông tin sản phẩm-->
                </div>


            </div>
        </div>
        <!-- End Product Content Tab -->

    </div>
</div>
</div>
</body>
</html>